@model IEnumerable<VehicleTrackingSoftware.Models.VehicleViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="container-fluid">
                <div class="car-header row">
                    <div class="col">Araç Plakası</div>
                    <div class="col">Başlangıç</div>
                    <div class="col">Hedef</div>
                </div> <hr />

                <div id="items">
                    @foreach (var item in Model.Select((value, i) => new { i, value }))
                    {
                        <div tabindex='@item.i' class="car-item row">
                            <div class="col">@item.value.NumberPlate</div>
                            <div class="col">@item.value.StartingPoint</div>
                            <div class="col">@item.value.Destination</div>
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="container-fluid">
                <div class="row" style="flex-direction:row; justify-content:space-around; font-weight: bold">
                    <div id="distance" class="col">Mesafe: -</div>
                    <div id="duration" class="col">Süre: -</div>
                </div>
                <hr />
                <div id="googleMap">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDDJsOYQHqEKmYCIQuI6LnTWktsi6TvXCg" type="text/javascript"></script>